<?xml version="1.0" encoding="UTF-8"?>
<!-- 'Concise' config as opposed to 'Strict' -->
<!-- status is used for internal logging -->
<Configuration name="App config"
               status="WARN" monitorInterval="10">
    <Properties>
        <Property name="filename">logs/app.log</Property>
    </Properties>
    <Appenders>
        <!-- Appender for logging to console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!-- Appender for logging to file -->
        <File name="File" fileName="${filename}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <!--  No additivity makes sure it doesn't also inherit the root appender; logging twice  -->
        <!--  This is done only for example. Don't see a point in doing this  -->
        <Logger name="com.logging.log4j.Bar" level="TRACE" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>
        <!-- Children will be debug while Bar will be trace -->
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
